@import url('https://fonts.googleapis.com/css?family=Carter+One|Covered+By+Your+Grace|Fredoka+One|Rock+Salt|Sriracha|Viga&display=swap');

body, .row {
  //font-family: 'Fredoka One', cursive;
  font-size:3rem;
  font-family: 'Viga', sans-serif;
  //
  //font-family: 'Sriracha', cursive;
  //font-family: 'Carter One', cursive;
  //font-family: 'Covered By Your Grace', cursive;
}

.app-title {
  font-family: 'Rock Salt', cursive;
}

.black {
  background-color:black;
  color:whitesmoke;
}

.white {
  background-color:whitesmoke;
  color:black;
}

.green {
  background-color:green;
  color:white;
}

.red {
  background-color:red;
  color:white;
}

.blue {
  background-color:blue;
  color:white;
}

.purple {
  background-color:purple;
  color:white;
}

.orange {
  background-color:orangered;
  color:white;
}